asgiref==3.11.0
certifi==2026.1.4
cffi==2.0.0
charset-normalizer==3.4.4
cryptography==46.0.3
Django==6.0.1
django-allauth==65.14.0
django-decouple==2.1
django-tinymce==5.0.0
git-filter-repo==2.47.0
idna==3.11
migrate==0.3.8
pycparser==2.23
PyJWT==2.10.1
requests==2.32.5
sqlparse==0.5.5
urllib3==2.6.3
