{% load static %}
<nav class="custom-navbar">
      <a href="{% url 'home' %}" class="logo">
        <img src="{% static 'images/logo.png' %}" alt="pokhara Job Center" />
      </a>
      <div class="menu-toggle" id="menuToggle">☰</div>
    
      <ul class="nav-links" id="navLinks">
        {% if user.is_authenticated %}
        <li>
            <a href="{% url 'logout_view' %}" class="btn ">Logout</a>
        </li>
        <li>
            <a href="{% url 'post_job' %}" class="btn ">Post Job</a>
        </li>
        {% else %}
          <li><a href="{% url 'login' %}"class="btn">Login</a></li>
          <li><a href="{% url 'register' %}" class="btn">Register</a></li>
          <li><a href="{% url 'post_job' %}" class="btn">Post Job</a></li>
          {% endif %}
      </ul>
      
    </nav>